<div style="background-color: #dddddd; padding: 10px; width: 300px;">
    <app-form-simple-input
        [iFormGroup]="form"
        [iFormControlName]="'presetName'"
        [iLabel]="'Preset name'">
    </app-form-simple-input>
    <app-form-smart-date-range-picker
        [iFormGroup]="form"
        [iFormControlName]="'datesDue'"
        [iLabel]="'Dates due'"
        [iCanAdd]="true">
    </app-form-smart-date-range-picker>
    <app-form-smart-input
        [iFormGroup]="form"
        [iFormControlName]="'datesCompleted'"
        [iLabel]="'Dates completed'"
        [iMultiple]="false"
        [iCanAdd]="false">
    </app-form-smart-input>
    <app-form-smart-select
        [iFormGroup]="form"
        [iFormControlName]="'accounts'"
        [iLabel]="'Accounts'"
        [iData]="accounts"></app-form-smart-select>
    <app-form-smart-select
        [iFormGroup]="form"
        [iFormControlName]="'categories'"
        [iLabel]="'Categories'"
        [iData]="categories"></app-form-smart-select>
    <app-form-smart-amount-range
        [iFormGroup]="form"
        [iFormControlName]="'amounts'"
        [iLabel]="'Amounts'"></app-form-smart-amount-range>
    <app-form-smart-input
        [iFormGroup]="form"
        [iFormControlName]="'description'"
        [iLabel]="'Description search'"
        [iMultiple]="false"
        [iCanAdd]="false">
    </app-form-smart-input>
</div>
<p style="font-size: 14px; line-height: 14px;">
    {{ form.value | json }}
    <br>
    <br>
    {{ form.valid }}
</p>