@import "../../../../assets/styles/config.less";

.wrap {
  position: relative;
  margin-bottom: 15px;
  .content {
    border-bottom: solid 1px #000000;
    cursor: text;
    label {
      font-size: 12px;
      line-height: 12px;
      font-weight: 900;
      text-transform: uppercase;
    }
    .clear_all {
      position: absolute;
      top: 0;
      right: 0;
      padding: 3px;
      border-radius: 50%;
      cursor: default;
      ::ng-deep {
        svg {
          width: 6px;
          .svg_close_line {
            stroke: #999999;
          }
        }
      }
      &:hover {
        background-color: @color_primary_2;
        ::ng-deep {
          svg {
            .svg_close_line {
              stroke: white;
            }
          }
        }
      }
    }
    .input_text {
      margin: 7px 0 11px 0;
      display: block;
      padding: 2px 5px 2px 5px;
      font-size: 12px;
      line-height: 12px;
      color: #000000;
    }
  }
}