.clearAfter:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.noSelectBackground ::selection {
  background: transparent;
}
.noSelectBackground ::-moz-selection {
  background: transparent;
}
.wrap {
  position: relative;
  margin-bottom: 15px;
}
.wrap .content {
  border-bottom: solid 1px #000000;
  cursor: text;
}
.wrap .content label {
  font-size: 12px;
  line-height: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
.wrap .content .clear_all {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  border-radius: 50%;
  cursor: default;
}
.wrap .content .clear_all ::ng-deep svg {
  width: 6px;
}
.wrap .content .clear_all ::ng-deep svg .svg_close_line {
  stroke: #999999;
}
.wrap .content .clear_all:hover {
  background-color: #04a667;
}
.wrap .content .clear_all:hover ::ng-deep svg .svg_close_line {
  stroke: white;
}
.wrap .content .input_text {
  margin: 7px 0 11px 0;
  display: block;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}
