<div class="wrap {{iTheme}}">
    <div class="content"
         (click)="inputFocus()"
         [formGroup]="iFormGroup">
        <label
            *ngIf="iLabel">
            {{ iLabel }}
        </label>
        <span class="clear_all"
              [inlineSVG]="'/assets/img/close.svg'"
              (click)="clearAll()"
              *ngIf="iValueText.length > 0"></span>
        <span class="input_text" contenteditable="true"
              #inputText
              [textContent]="iValueText"
              (input)="inputChange()"
              (focus)="inputFocus()"
              (blur)="oBlur.emit()"
              (keydown)="keyDown($event)"
              (keyup)="oKeyUp.emit($event)"
              (click)="doNotMoveCaret = true"></span>
        <input type="hidden"
               #inputHidden
               [formControlName]="iFormControlName">
    </div>
    <ng-content></ng-content>
</div>
