<app-form-smart-input
    #smartInput
    [iFormGroup]="iFormGroup"
    [iFormControlName]="iFormControlName"
    [iLabel]="iLabel"
    [iType]="iType"
    [(bValueText)]="bValueText"
    (oValueChanged)="iValue = $event"
    [iCanAdd]="iCanAdd"
    [iTheme]="iTheme"
    [iMultiple]="iMultiple"
    (oKeyDown)="oKeyDown.emit($event); tabCloses($event, true);"
    (oFocus)="this.oFocus.emit(); this.opened = true;"
    (oBlur)="oBlur.emit()"
    (oClickedOutside)="opened = false">
    <app-form-smart-wrap
        *ngIf="opened">
        <div class="type">
            <app-form-smart-select
                [iFormGroup]="form"
                [iFormControlName]="'type'"
                [iLabel]="'Type'"
                [iTheme]="'green'"
                [iCanManage]="false"
                [iData]="types"
                [iCanInvert]="false"
                [iMultiple]="false">
            </app-form-smart-select>
        </div>
        <div class="currency">
            <app-form-smart-select
                [iFormGroup]="form"
                [iFormControlName]="'currency'"
                [iLabel]="'Currency'"
                [iTheme]="'green'"
                [iData]="currencies"
                [iCanInvert]="false"
                [iMultiple]="false"></app-form-smart-select>
        </div>
        <div class="amount from">
            <app-form-simple-input
                [iFormGroup]="form"
                [iFormControlName]="'from'"
                [iLabel]="'From'"
                [iTheme]="'green'"
                [iType]="'number'">
            </app-form-simple-input>
        </div>
        <div class="amount to">
            <app-form-simple-input
                [iFormGroup]="form"
                [iFormControlName]="'to'"
                [iLabel]="'To'"
                [iType]="'number'"
                (oKeyDown)="!form.valid ? tabCloses($event, false) : ''">
            </app-form-simple-input>
        </div>
        <div class="submit">
            <app-form-button
                (oClicked)="submit()"
                [iDisabled]="!form.valid"
                (oKeyDown)="tabCloses($event, false)">ADD</app-form-button>
        </div>
    </app-form-smart-wrap>
</app-form-smart-input>