@import "../../../../assets/styles/config.less";

.type {
  width: 48%;
  float: left;
  margin-right: 2%;
}

.currency {
  width: 48%;
  float: left;
  margin-left: 2%;
}

.amount {
  width: 48%;
  float: left;
  &.from {
    .clearfix;
    margin-right: 2%;
  }
  &.to {
    margin-left: 2%;
  }
}

.submit {
  .clearfix;
}