.clearAfter:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.noSelectBackground ::selection {
  background: transparent;
}
.noSelectBackground ::-moz-selection {
  background: transparent;
}
.type {
  width: 48%;
  float: left;
  margin-right: 2%;
}
.currency {
  width: 48%;
  float: left;
  margin-left: 2%;
}
.amount {
  width: 48%;
  float: left;
}
.amount.from {
  content: "";
  clear: both;
  display: table;
  margin-right: 2%;
}
.amount.to {
  margin-left: 2%;
}
.submit {
  content: "";
  clear: both;
  display: table;
}
