@import "../../../../assets/styles/config.less";

div {
  position: absolute;
  margin-top: -1px;
  z-index: 1;
  width: 100%;
  display: block;
  background-color: white;
  border: solid 1px @color_secondary_3;
  border-radius: 0 0 5px 5px;
  .shadow(0, 1px, 10px, rgba(0, 0, 0, 0.1));
  padding: 10px;
  &.toRight {
    right: 0;
  }
}