.clearAfter:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.noSelectBackground ::selection {
  background: transparent;
}
.noSelectBackground ::-moz-selection {
  background: transparent;
}
div {
  position: absolute;
  margin-top: -1px;
  z-index: 1;
  width: 100%;
  display: block;
  background-color: white;
  border: solid 1px #cccccc;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
div.toRight {
  right: 0;
}
