.clearAfter:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.noSelectBackground ::selection {
  background: transparent;
}
.noSelectBackground ::-moz-selection {
  background: transparent;
}
button {
  cursor: pointer;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
button.normal {
  font-size: 12px;
  line-height: 12px;
  padding: 8px;
  font-weight: 700;
}
button.small {
  padding: 3px 6px 5px 6px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}
button.green {
  background-color: #066445;
  color: white;
}
button.green:hover,
button.green:focus {
  background-color: #04a667;
}
button.red {
  background-color: #ffd3d2;
  color: white;
}
button.red:hover,
button.red:focus {
  background-color: #ffa6a4;
}
button.white {
  background-color: white;
  color: #066445;
}
button.white:hover,
button.white:focus {
  background-color: #cccccc;
}
button:disabled {
  opacity: 0.4;
}
