@import "../../../../assets/styles/config.less";

button {
  cursor: pointer;
  text-align: center;
  .round(5px);
  .transition(background-color 0.3s ease);
  // Sizes
  &.normal {
    font-size: 12px;
    line-height: 12px;
    padding: 8px;
    font-weight: 700;
  }
  &.small {
    padding: 3px 6px 5px 6px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }
  // Colors
  &.green {
    background-color: @color_primary_1;
    color: white;
    &:hover, &:focus {
      background-color: @color_primary_2;
    }
  }
  &.red {
    background-color: @color_warning_2;
    color: white;
    &:hover, &:focus {
      background-color: @color_warning_1;
    }
  }
  &.white {
    background-color: white;
    color: @color_primary_1;
    &:hover, &:focus {
      background-color: @color_secondary_3;
    }
  }
  &:disabled {
    opacity: 0.4;
  }
}