@import "../../../../assets/styles/config.less";

table {
  width: 100%;
  border-top: solid 1px #eeeeee;
  border-left: solid 1px #eeeeee;
  td {
    span, button {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      padding: 5px 0;
      text-align: center;
      border-bottom: solid 1px #eeeeee;
      border-right: solid 1px #eeeeee;
      color: black;
    }
    span {
      background-color: #eeeeee;
    }
    button {
      cursor: pointer;
      &:hover, &:focus {
        background-color: @color_primary_1;
        color: white;
      }
    }
    &.pastMonth {
      button {
        opacity: 0.5;
      }
    }
    &.selected {
      button {
        background-color: @color_primary_2;
        color: white;
        cursor: auto;
      }
    }
  }
  &.months {
    td {
      button {
        padding: 21px 0;
      }
    }
  }
}

.controls {
  border: solid 1px #eeeeee;
  border-bottom: none;
  padding: 3px;
  .clearAfter;
  .year {
    float: right;
  }
  .month {
    float: left;
  }
  .arrow {
    cursor: pointer;
    padding: 5px 0;
    text-align: center;
    width: 20px;
    span {
      ::ng-deep svg {
        width: 4px;
        height: 8px;
        polygon {
          .transition(fill 0.15s ease);
          fill: black;
        }
      }
    }
    &.prev {
      transform: rotate(180deg);
    }
    &:hover, &:focus {
      span {
        ::ng-deep svg {
          polygon {
            fill: @color_primary_2;
          }
        }
      }
    }
  }
  .title {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    width: 40px;
    .transition(color 0.15s ease);
    &:hover, &:focus {
      color: @color_primary_2;
    }
  }
}