.clearAfter:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.noSelectBackground ::selection {
  background: transparent;
}
.noSelectBackground ::-moz-selection {
  background: transparent;
}
table {
  width: 100%;
  border-top: solid 1px #eeeeee;
  border-left: solid 1px #eeeeee;
}
table td span,
table td button {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  padding: 5px 0;
  text-align: center;
  border-bottom: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  color: black;
}
table td span {
  background-color: #eeeeee;
}
table td button {
  cursor: pointer;
}
table td button:hover,
table td button:focus {
  background-color: #066445;
  color: white;
}
table td.pastMonth button {
  opacity: 0.5;
}
table td.selected button {
  background-color: #04a667;
  color: white;
  cursor: auto;
}
table.months td button {
  padding: 21px 0;
}
.controls {
  border: solid 1px #eeeeee;
  border-bottom: none;
  padding: 3px;
}
.controls:after {
  content: "";
  display: block;
  clear: both;
}
.controls .year {
  float: right;
}
.controls .month {
  float: left;
}
.controls .arrow {
  cursor: pointer;
  padding: 5px 0;
  text-align: center;
  width: 20px;
}
.controls .arrow span ::ng-deep svg {
  width: 4px;
  height: 8px;
}
.controls .arrow span ::ng-deep svg polygon {
  -webkit-transition: fill 0.15s ease;
  -moz-transition: fill 0.15s ease;
  -o-transition: fill 0.15s ease;
  transition: fill 0.15s ease;
  fill: black;
}
.controls .arrow.prev {
  transform: rotate(180deg);
}
.controls .arrow:hover span ::ng-deep svg polygon,
.controls .arrow:focus span ::ng-deep svg polygon {
  fill: #04a667;
}
.controls .title {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  width: 40px;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.controls .title:hover,
.controls .title:focus {
  color: #04a667;
}
