<div class="wrap"
     [formGroup]="iFormGroup">
    <input type="hidden"
           [formControlName]="iFormControlName">
    <ng-container
        *ngIf="view === 'days'">
        <div class="controls">
            <div class="month">
                <button class="arrow prev"
                        (click)="changeMonth(false);">
            <span
                [inlineSVG]="'/assets/img/arrow.svg'"></span>
                </button>
                <button class="title"
                        (click)="changeView('months')">{{currentMonthTitle}}
                </button>
                <button class="arrow"
                        (click)="changeMonth(true);">
            <span
                [inlineSVG]="'/assets/img/arrow.svg'"></span>
                </button>
            </div>
            <div class="year">
                <button class="arrow prev"
                        (click)="changeYear(false)">
            <span
                [inlineSVG]="'/assets/img/arrow.svg'"></span>
                </button>
                <button class="title"
                        (click)="changeView('years')">{{currentYear}}
                </button>
                <button class="arrow"
                        (click)="changeYear(true)">
            <span
                [inlineSVG]="'/assets/img/arrow.svg'"></span>
                </button>
            </div>
        </div>
        <table class="days">
            <tr>
                <td
                    *ngFor="let day of daysOfWeekArray">
                    <span>{{day}}</span>
                </td>
            </tr>
            <tr
                *ngFor="let week of daysArray">
                <td
                    *ngFor="let dayObj of week"
                    [ngClass]="{
                        'pastMonth': dayObj.month !== currentMonth,
                        'selected': value === dayObj.formatted
                    }">
                    <button tabindex="-1"
                            (click)="setValue(dayObj.date)">
                        {{dayObj.day}}
                    </button>
                </td>
            </tr>
        </table>
    </ng-container>
    <ng-container
        *ngIf="view === 'months'">
        <table class="months">
            <tr
                *ngFor="let monthsRow of monthsArray; let rowIndex = index;">
                <td
                    *ngFor="let monthTitle of monthsRow; let monthIndex = index;"
                    [ngClass]="{
                        'selected': (rowIndex * 4) + (monthIndex + 1) == currentMonth
                    }">
                    <button tabindex="-1"
                            (click)="setMonthCurrent((rowIndex * 4) + (monthIndex + 1))">
                        {{monthTitle}}
                    </button>
                </td>
            </tr>
        </table>
    </ng-container>
    <ng-container
        *ngIf="view === 'years'">
        <table class="years">
            <tr
                *ngFor="let yearsRow of yearsArray;">
                <td
                    *ngFor="let year of yearsRow"
                    [ngClass]="{
                        'selected': year == currentYear
                    }">
                    <button tabindex="-1"
                            (click)="setYearCurrent(year)">
                        {{year | slice:2}}
                    </button>
                </td>
            </tr>
        </table>
    </ng-container>
</div>