.clearAfter:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.noSelectBackground ::selection {
  background: transparent;
}
.noSelectBackground ::-moz-selection {
  background: transparent;
}
.scroll {
  position: absolute;
  margin-top: -1px;
  z-index: 1;
  width: 100%;
  background-color: white;
  border: solid 1px #cccccc;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
ol {
  width: 100%;
  display: block;
}
ol li {
  border-bottom: solid 1px #cccccc;
  overflow: hidden;
  padding: 2px;
}
ol li:last-child {
  border-bottom: none;
}
ol li .items .item,
ol li .items .arrow {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 12px;
  padding: 6px;
  word-break: break-all;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
ol li .items .item:hover,
ol li .items .arrow:hover,
ol li .items .item.selected,
ol li .items .arrow.selected {
  background-color: #0e8a61;
  color: #ffffff;
  cursor: pointer;
}
ol li .items .item:last-child,
ol li .items .arrow:last-child {
  overflow: auto;
  float: none;
}
ol li .items .item.used,
ol li .items .arrow.used {
  opacity: 0.3;
}
ol li .items .arrow ::ng-deep svg {
  width: 4px;
  height: 8px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
ol li .items .arrow ::ng-deep svg polygon {
  fill: #cccccc;
}
ol li .items .arrow.opened ::ng-deep svg {
  transform: rotate(90deg);
}
ol li .items .arrow.opened ::ng-deep svg polygon {
  fill: #0e8a61;
}
ol li .items .arrow:hover ::ng-deep svg polygon,
ol li .items .arrow.selected ::ng-deep svg polygon {
  fill: white;
}
ol li.nothingFound {
  background-color: #ffd3d2;
  padding: 8px;
}
ol li.nothingFound,
ol li.nothingFound button {
  font-size: 12px;
  line-height: 12px;
}
ol li.nothingFound button {
  text-decoration: underline;
  cursor: pointer;
}
