@import "../../../../assets/styles/config.less";
.scroll {
  position: absolute;
  margin-top: -1px;
  z-index: 1;
  width: 100%;
  background-color: white;
  border: solid 1px @color_secondary_3;
  border-radius: 0 0 5px 5px;
  .shadow(0, 1px, 10px, rgba(0, 0, 0, 0.1));
}
ol {
  width: 100%;
  display: block;
  li {
    border-bottom: solid 1px @color_secondary_3;
    overflow: hidden;
    padding: 2px;
    &:last-child {
      border-bottom: none;
    }
    .items {
      .item, .arrow {
        display: block;
        float: left;
        font-size: 12px;
        line-height: 12px;
        padding: 6px;
        word-break: break-all;
        .round(5px);
        &:hover, &.selected {
          background-color: @color_primary_3;
          color: #ffffff;
          cursor: pointer;
        }
        &:last-child {
          overflow: auto;
          float: none;
        }
        &.used {
          opacity: 0.3;
        }
      }
      .arrow {
        ::ng-deep {
          svg  {
            width: 4px;
            height: 8px;
            .transition(all 0.15s ease);
            polygon {
              fill: @color_secondary_3;
            }
          }
        }
        &.opened {
          ::ng-deep svg {
            transform: rotate(90deg);
            polygon {
              fill: @color_primary_3;
            }
          }
        }
        &:hover, &.selected {
          ::ng-deep svg polygon {
            fill: white;
          }
        }
      }
    }
    &.nothingFound {
      background-color: @color_warning_2;
      padding: 8px;
      &, button {
        font-size: 12px;
        line-height: 12px;
      }
      button {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}