<div class="scroll"
     #elScroll
     [ngStyle]="{'max-height': (iScrollItemsMax * scrollStep + 2) + 'px'}">
    <ol>
        <li
            *ngFor="let items of itemsFiltered; let y = index"
            [ngClass]="{selected: itemIndexY == y}">
            <div class="items">
                <ng-container
                    *ngFor="let item of items; let x = index">
                    <div class="item"
                         *ngIf="item.title"
                         (click)="selectItem(x, y)"
                         [ngClass]="{
                            selected: (itemIndexX == x && itemIndexY == y),
                            used: isUsed(item.id)
                        }"
                         [ngStyle]="{'margin-left': (((x == 0 ? 10 : 0) * item.lvl)) + 'px'}">
                        {{ item.title }}
                    </div>
                    <div class="arrow"
                         *ngIf="item.arrow"
                         (click)="arrowToggle(x, y)"
                         [ngClass]="{
                            selected: (itemIndexX == x && itemIndexY == y),
                            opened: item.opened
                        }">
                        <span
                            [inlineSVG]="'/assets/img/arrow.svg'"></span>
                    </div>
                </ng-container>
            </div>
        </li>
        <li class="nothingFound"
            *ngIf="itemsFiltered.length == 0">
            Nothing found.
            <ng-container
                *ngIf="iCanManage">
                <button (click)="oManageClicked.emit()">Click here</button>
                to manage.
            </ng-container>
        </li>
    </ol>
</div>