@import "../../../../assets/styles/config.less";

.from, .to {
  float: left;
  width: 48%;
}

.from {
  margin-right: 2%;
}

.to {
  margin-left: 2%;
}

.calendar {
  position: absolute;
  left: 0;
  width: 208%;
  &.to {
    left: auto;
    right: 0;
  }
}