.clearAfter:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.noSelectBackground ::selection {
  background: transparent;
}
.noSelectBackground ::-moz-selection {
  background: transparent;
}
.from,
.to {
  float: left;
  width: 48%;
}
.from {
  margin-right: 2%;
}
.to {
  margin-left: 2%;
}
.calendar {
  position: absolute;
  left: 0;
  width: 208%;
}
.calendar.to {
  left: auto;
  right: 0;
}
