<app-form-smart-input
    #smartInput
    [iFormGroup]="iFormGroup"
    [iFormControlName]="iFormControlName"
    [iLabel]="iLabel"
    [iType]="iType"
    [(bValueText)]="bValueText"
    (oValueChanged)="iValue = $event"
    [iCanAdd]="iCanAdd"
    [iTheme]="iTheme"
    [iMultiple]="iMultiple"
    (oKeyDown)="oKeyDown.emit($event); tabCloses($event, true);"
    (oFocus)="this.oFocus.emit(); this.opened = true;"
    (oBlur)="oBlur.emit()"
    (oClickedOutside)="opened = false">
    <app-form-smart-wrap
        *ngIf="opened">
        <div class="from">
            <app-form-smart-date-picker
                [iFormGroup]="form"
                [iFormControlName]="'from'"
                [iLabel]="'From'"
                [iCanAdd]="true"></app-form-smart-date-picker>
        </div>
        <div class="to">
            <app-form-smart-date-picker
                [iFormGroup]="form"
                [iFormControlName]="'to'"
                [iLabel]="'To'"
                [iCanAdd]="true"
                [iToRight]="true"></app-form-smart-date-picker>
        </div>
        <div class="clearAfter"></div>
        <div class="submit">
            <app-form-button
                (oClicked)="submit()"
                [iDisabled]="!form.valid"
                (oKeyDown)="tabCloses($event, false)">ADD
            </app-form-button>
        </div>
    </app-form-smart-wrap>
</app-form-smart-input>