@color_primary_1: #066445;
@color_primary_2: #04a667;
@color_primary_3: #0e8a61;
@color_secondary_1: #979797;
@color_secondary_2: #6b6b6b;
@color_secondary_3: #cccccc;
@color_secondary_4: #eeeeee;
@color_warning_1: #ffa6a4;
@color_warning_2: #ffd3d2;

.clearAfter {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.gradientVertical(@from, @to) {
  background: @from;
  background: -moz-linear-gradient(top, @from 0%, @to 100%);
  background: -webkit-linear-gradient(top, @from 0%, @to 100%);
  background: linear-gradient(to bottom, @from 0%, @to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to', GradientType=0);
}

.shadow(@size_x, @size_y, @strength, @color) {
  -webkit-box-shadow: @size_x @size_y @strength @color;
  -moz-box-shadow: @size_x @size_y @strength @color;
  box-shadow: @size_x @size_y @strength @color;
}

.shadowInner(@size_x, @size_y, @strength, @color) {
  -webkit-box-shadow: inset @size_x @size_y @strength @color;
  -moz-box-shadow: inset @size_x @size_y @strength @color;
  box-shadow: inset @size_x @size_y @strength @color;
}

.round(@size) {
  -moz-border-radius: @size;
  -webkit-border-radius: @size;
  border-radius: @size;
}

.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.noSelectBackground {
  ::selection {
    background: transparent;
  }
  ::-moz-selection {
    background: transparent;
  }
}