* {
    font-size: 0;
    font-style: normal;
    font-weight: normal;
    line-height: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border: 0;
    text-align: left;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #000;
    text-decoration: none;
}