<div class="wrap {{iTheme}}">
    <div class="content"
         (click)="inputFocus()"
         [formGroup]="iFormGroup">
        <label
            *ngIf="iLabel">
            {{ iLabel }}
        </label>
        <span class="clear_all"
              [inlineSVG]="'/assets/img/close.svg'"
              (click)="clearAll()"
              (mousedown)="ignoreMouseDown = true; ignoreInputFocus = true;"
              *ngIf="values.length > 0"></span>
        <ol>
            <li class="pill"
                *ngFor="let val of values; let i = index; let last = last"
                [ngClass]="{ inverted: val.inverted, can_delete: canDelete && last }"
                (mousedown)="ignoreInputFocus = true">
                <p
                    (click)="toggle(i)"
                    (dblclick)="oPillDoubleClick.emit(val)"
                    (mousedown)="ignoreMouseDown = true; ignoreInputFocus = true;">
                    {{ val.title }}
                </p>
                <span class="icon"
                      [inlineSVG]="'/assets/img/close.svg'"
                      (click)="clearValue(i)"
                      (mousedown)="ignoreMouseDown = true"></span>
                <div class="subtitle">{{ val.subtitle }}</div>
            </li>
            <li>
                <span class="input_text" contenteditable="true"
                      #inputText
                      [textContent]="bValueText"
                      (input)="valueTextChange()"
                      (focus)="focus()"
                      (blur)="blur()"
                      (keydown)="keyDown($event)"
                      (keyup)="keyUp($event)"
                      (click)="doNotMoveCaret = true"></span>
                <input type="hidden"
                       #inputHidden
                       [formControlName]="iFormControlName">
                <!--<input class="input_text" type="{{iType}}"
                       #inputText
                       [formControlName]="iFormControlName"
                       value="{{iValue}}"
                       (input)="inputChange()"
                       (focus)="focus()"
                       (blur)="blur()"
                       (keydown)="keyDown($event)"
                       (keyup)="keyUp($event)"
                        (click)="doNotMoveCaret = true">-->
            </li>
        </ol>
    </div>
    <ng-content></ng-content>
</div>
