@import "../../../../assets/styles/config.less";

.wrap {
  position: relative;
  margin-bottom: 20px;
  .content {
    border-bottom: solid 1px #000000;
    cursor: text;
    label {
      font-size: 12px;
      line-height: 12px;
      font-weight: 900;
      text-transform: uppercase;
    }
    .clear_all {
      position: absolute;
      top: 0;
      right: 0;
      padding: 3px;
      border-radius: 50%;
      cursor: default;
      ::ng-deep {
        svg {
          width: 6px;
          .svg_close_line {
            stroke: #999999;
          }
        }
      }
      &:hover {
        background-color: @color_primary_2;
        ::ng-deep {
          svg {
            .svg_close_line {
              stroke: white;
            }
          }
        }
      }
    }
    ol {
      margin: 7px 0 3px 0;
      .clearAfter;
      li {
        float: left;
        box-sizing: border-box;
        border: solid 2px transparent;
        margin: 0 4px 4px 0;
        word-break: break-all;
        &.pill {
          .noSelectBackground;
          padding: 2px 15px 2px 5px;
          background-color: white;
          color: #000000;
          border-radius: 5px;
          cursor: default;
          position: relative;
          p {
            display: inline-block;
            font-size: 12px;
            line-height: 12px;
          }
          .icon {
            position: absolute;
            top: 2px;
            right: 1px;
            padding: 3px;
            border-radius: 50%;
            ::ng-deep {
              svg {
                width: 6px;
                .svg_close_line {
                  stroke: #999999;
                }
              }
            }
            &:hover {
              background-color: @color_primary_2;
              ::ng-deep {
                svg {
                  .svg_close_line {
                    stroke: white;
                  }
                }
              }
            }
          }
          &.selected {
            box-shadow: 0 0 5px 0 @color_primary_2;
          }
          &.can_delete {
            background-color: @color_warning_2;
          }
          &.inverted {
            background-color: transparent;
            border-color: white;
            &.can_delete {
              border-color: @color_warning_1;
            }
          }
          .subtitle {
            display: none;
          }
        }
        .input_text {
          display: inline-block;
          padding: 2px 5px 2px 5px;
          font-size: 12px;
          line-height: 12px;
          color: #000000;
        }
      }
    }
  }
  &.green {
    .content {
      ol {
        li {
          &.pill {
            background-color: @color_primary_3;
            color: white;
            .icon {
              ::ng-deep {
                svg {
                  .svg_close_line {
                    stroke: white;
                  }
                }
              }
            }
            &.can_delete {
              background-color: @color_warning_1;
            }
            &.inverted {
              background-color: transparent;
              border-color: @color_primary_3;
              color: @color_primary_3;
              .icon {
                ::ng-deep {
                  svg {
                    .svg_close_line {
                      stroke: #999999;
                    }
                  }
                }
                &:hover {
                  ::ng-deep {
                    svg {
                      .svg_close_line {
                        stroke: white;
                      }
                    }
                  }
                }
              }
              &.can_delete {
                border-color: @color_warning_1;
              }
            }
          }
        }
      }
    }
  }
}