.clearAfter:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.noSelectBackground ::selection {
  background: transparent;
}
.noSelectBackground ::-moz-selection {
  background: transparent;
}
.wrap {
  position: relative;
  margin-bottom: 20px;
}
.wrap .content {
  border-bottom: solid 1px #000000;
  cursor: text;
}
.wrap .content label {
  font-size: 12px;
  line-height: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
.wrap .content .clear_all {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  border-radius: 50%;
  cursor: default;
}
.wrap .content .clear_all ::ng-deep svg {
  width: 6px;
}
.wrap .content .clear_all ::ng-deep svg .svg_close_line {
  stroke: #999999;
}
.wrap .content .clear_all:hover {
  background-color: #04a667;
}
.wrap .content .clear_all:hover ::ng-deep svg .svg_close_line {
  stroke: white;
}
.wrap .content ol {
  margin: 7px 0 3px 0;
}
.wrap .content ol:after {
  content: "";
  display: block;
  clear: both;
}
.wrap .content ol li {
  float: left;
  box-sizing: border-box;
  border: solid 2px transparent;
  margin: 0 4px 4px 0;
  word-break: break-all;
}
.wrap .content ol li.pill {
  padding: 2px 15px 2px 5px;
  background-color: white;
  color: #000000;
  border-radius: 5px;
  cursor: default;
  position: relative;
}
.wrap .content ol li.pill ::selection {
  background: transparent;
}
.wrap .content ol li.pill ::-moz-selection {
  background: transparent;
}
.wrap .content ol li.pill p {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
}
.wrap .content ol li.pill .icon {
  position: absolute;
  top: 2px;
  right: 1px;
  padding: 3px;
  border-radius: 50%;
}
.wrap .content ol li.pill .icon ::ng-deep svg {
  width: 6px;
}
.wrap .content ol li.pill .icon ::ng-deep svg .svg_close_line {
  stroke: #999999;
}
.wrap .content ol li.pill .icon:hover {
  background-color: #04a667;
}
.wrap .content ol li.pill .icon:hover ::ng-deep svg .svg_close_line {
  stroke: white;
}
.wrap .content ol li.pill.selected {
  box-shadow: 0 0 5px 0 #04a667;
}
.wrap .content ol li.pill.can_delete {
  background-color: #ffd3d2;
}
.wrap .content ol li.pill.inverted {
  background-color: transparent;
  border-color: white;
}
.wrap .content ol li.pill.inverted.can_delete {
  border-color: #ffa6a4;
}
.wrap .content ol li.pill .subtitle {
  display: none;
}
.wrap .content ol li .input_text {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}
.wrap.green .content ol li.pill {
  background-color: #0e8a61;
  color: white;
}
.wrap.green .content ol li.pill .icon ::ng-deep svg .svg_close_line {
  stroke: white;
}
.wrap.green .content ol li.pill.can_delete {
  background-color: #ffa6a4;
}
.wrap.green .content ol li.pill.inverted {
  background-color: transparent;
  border-color: #0e8a61;
  color: #0e8a61;
}
.wrap.green .content ol li.pill.inverted .icon ::ng-deep svg .svg_close_line {
  stroke: #999999;
}
.wrap.green .content ol li.pill.inverted .icon:hover ::ng-deep svg .svg_close_line {
  stroke: white;
}
.wrap.green .content ol li.pill.inverted.can_delete {
  border-color: #ffa6a4;
}
